################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjMgrSPA/ProjMgrAPI.Tests/bin/Debug/loadtestresults
