<div *ngIf="statusMessage" class="panel panel-info">
    <div class="panel-body">{{statusMessage}}</div>
</div>

<app-modal #modal>
    <div class="app-modal-header">
        User List
    </div>
    <div class="app-modal-body">


        <input type="Search" placeholder="Search Users" [(ngModel)]="usrSrchText" />


        <ul class="list-group">

            <li class="list-group-item" *ngFor="let usr of usrList | userfilter:usrSrchText">
                <input type="radio" name="usrs" (click)="proj.manager  = usr" /> {{usr.first_name}} {{usr.last_name}}
            </li>
        </ul>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    </div>
</app-modal>



<div class="container">

    <form #projectForm="ngForm" (submit)="addProject(projectForm.valid)">



        <div class="row">
            <div class="col-md-1">
                <label for="proj">Project: </label>
            </div>

            <div class="col-md-6">

                <input class="form-control" required type="text" name="proj" [(ngModel)]="proj.project_name" />
                <span class="validation">Project name is Required</span>

            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-3">

                <input type="checkbox" (change)="setProjectDates($event)" [(ngModel)]="proj.is_duration" name="setdate" />
                <small>Set Start and End Date</small>


            </div>
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>

            <div class="col-md-3">
                <input class="form-control input-sm" type="date" name="startdt" [(ngModel)]="proj.start_dt" [disabled]="!proj.is_duration"
                    placeholder="Start Date" />
            </div>
            <div class="col-md-3">
                <input class="form-control input-sm" type="date" name="enddt" [(ngModel)]="proj.end_dt" [disabled]="!proj.is_duration" placeholder="End Date"
                    (blur)="compareDates()" />

            </div>
        </div>
        <div class="row" *ngIf="errorDt">
            <div class="col-md-1">
            </div>
            <div class="col-md-6">
                <span class="validation">End date should be greater than start date</span>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-1">
                <label for="priority">Priority: </label>
            </div>
            <div class="col-md-6">

                <input class="form-control" type="range" name="priority" step="1" min="0" max="30" [(ngModel)]="proj.priority" />

            </div>
        </div>


        <div class="row">
            <div class="col-md-1">
                <label for="mgrid">Manager: </label>
            </div>
            <div class="col-md-5">

                <input class="form-control" type="text" name="mgrid" readonly value="{{proj.manager == null ? '' : proj.manager.first_name + ' ' + proj.manager.last_name}}"
                />
            </div>
            <div class="col-md-1">
                <input class="btn btn-secondary" type="button" value="Search" (click)="modal.show()" />
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <button class="btn" type="submit"> {{action}} </button>
            </div>
            <div class="col-md-1">
                <button class="btn" type="button" (click)="resetProject()"> Reset </button>

            </div>
        </div>


    </form>

</div>
<hr/>

<div *ngIf="projList" class="container">


    <div>
        <input type="Search" placeholder="Search Projects" [(ngModel)]="projSrchText" />
   
        Sort By:
        <input type="button" class="{{projSortText=='start_dt' ? 'btn btn-primary' : 'btn'}}" value="Start Date" (click)="sortProjectBy('start_dt')" />
        <input type="button" class="{{projSortText=='end_dt' ? 'btn btn-primary' : 'btn'}}" value="End Date" (click)="sortProjectBy('end_dt')" />
        <input type="button" class="{{projSortText=='priority' ? 'btn btn-primary' : 'btn'}}" value="Priority" (click)="sortProjectBy('priority')" />
        <input type="button" class="{{projSortText=='completed_tasks' ? 'btn btn-primary' : 'btn'}}" value="Completed" (click)="sortProjectBy('completed_tasks')" />

    </div>


    <div class="list-group" *ngFor="let proj of projList  | projfilter:projSrchText | projsort: projSortText | slice:0:50 ">

        <div class="list-group-item">


            <div class="row">
                <div class="col-md-5">


                   <label>Project:</label>  {{proj.project1}}
                </div>

                <div class="col-md-1">


                    <label> Priority:</label>  {{proj.priority}}
                </div>

                <div classs="col-md-2">
                    <button type="button" class="btn" (click)=editProject(proj.project_id)>Update</button>
                </div>
            </div>



            <div class="row">
                <div class="col-md-3">


                    <label> Start Date: </label>  {{proj.start_dt | date:'dd-MM-yyyy'}}
                </div>

                <div class="col-md-3">


                    <label> End date: </label>    {{proj.end_dt | date:'dd-MM-yyyy'}}
                </div>


                <div classs="col-md-2">
                    <button type="button" class="btn">Suspend</button>
                </div>
            </div>





            <div class="row">
                <div class="col-md-3">


                    <label>   No of Tasks: </label>  {{proj.total_tasks}}
                </div>

                <div class="col-md-3">


                    <label>   Completed: </label>  {{proj.completed_tasks}}
                </div>
            </div>
        </div>



    </div>



</div>