

<nav class="navbar navbar-default" >
<div class="container-fluid">

  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/project" routerLinkActive="active">Project Manager</a>
  </div>


<ul class="nav navbar-nav">
  <li><a routerLink="/project" routerLinkActive="active">Add Project</a></li>
  <li><a routerLink="/taskAdd" routerActiveLink="active">Add Task</a></li>
  <li><a routerLink="/user" routerLinkActive="active">Add User</a></li>
  <li><a routerLink="/taskView" routerActiveLink="active">View Task</a></li>
</ul>

</div>
</nav>



