<div *ngIf="statusMessage" class="panel panel-info">
        <div class="panel-body">{{statusMessage}}</div>
</div>

<app-modal #modal1>
        <div class="app-modal-header">
                Project List
        </div>
        <div class="app-modal-body">

                <input type="Search" placeholder="Search Projects" [(ngModel)]="projSrchText" />


                <ul class="list-group">

                        <li class="list-group-item" *ngFor="let proj of projList | projfilter:projSrchText">
                                <input type="radio" name="projs" (click)="getProjectTask(proj)" /> {{proj.project1}}
                        </li>
                </ul>
        </div>
        <div class="app-modal-footer">
                <button type="button" class="btn btn-default" (click)="modal1.hide()">Close</button>
        </div>
</app-modal>

<div class="container">

        <div class="row">
                <div class="col-md-1">
                        <label for="proj">Project: </label>
                </div>
                <div class="col-md-4">

                        <input class="form-control" type="text" name="proj" readonly value="{{tskvw.project == null ? '' : tskvw.project.project1}}"
                        />
                </div>
                <div class="col-md-1">
                        <input class="btn btn-secondary" type="button" value="Search" (click)="modal1.show()" />
                </div>


                <div class="col-md-6">
                        Sort Task By:
                        <input type="button" class="{{tskSortText=='start_dt' ? 'btn btn-primary' : 'btn'}}" value="Start Date" (click)="sortTaskBy('start_dt')"
                        />
                        <input type="button" class="{{tskSortText=='end_dt' ? 'btn btn-primary' : 'btn'}}" value="End Date" (click)="sortTaskBy('end_dt')"
                        />
                        <input type="button" class="{{tskSortText=='priority' ? 'btn btn-primary' : 'btn'}}" value="Priority" (click)="sortTaskBy('priority')"
                        />
                        <input type="button" class="{{tskSortText=='status' ? 'btn btn-primary' : 'btn'}}" value="Completed" (click)="sortTaskBy('status')"
                        />

                </div>
        </div>
</div>

<div *ngIf="projTskList != null && projTskList.length == 0" class="panel panel-info">
        <div class="panel-body">No tasks available for this project</div>
</div>

<div *ngIf="projTskList" class="container">



        <div class="list-group" *ngFor="let tsk of projTskList | projsort: tskSortText">

                <div class="list-group-item">


                        <div class="row">

                                <div class="col-md-2">


                                        <label> Task </label>
                                </div>

                                <div class="col-md-2">


                                        <label> Parent</label>
                                </div>

                                <div class="col-md-1">


                                        <label> Priority</label>
                                </div>
                                <div class="col-md-2">


                                        <label> Start</label>
                                </div>


                                <div class="col-md-2">

                                        <label> End</label>

                                </div>
                        </div>

                        <div class="row">

                                <div class="col-md-2">


                                        {{tsk.task1}}
                                </div>

                                <div class="col-md-2">


                                        {{tsk.parent_task?.parent_task1 || 'No Parent Task' }}
                                </div>

                                <div class="col-md-1">


                                        {{tsk.priority}}
                                </div>
                                <div class="col-md-2">


                                        {{tsk.start_dt | date:'dd-MM-yyyy'}}
                                </div>


                                <div class="col-md-2">


                                        {{tsk.end_dt | date:'dd-MM-yyyy'}}
                                </div>

                                <div classs="col-md-2">
                                        <button type="button" class="btn" (click)=editTask(tsk.task_id)>Edit</button>

                                        <button type="button" class="btn" [disabled]="tsk.status === 'COMPLETE'" (click)=endTask(tsk)>End Task</button>
                                </div>










                        </div>
                </div>



        </div>



</div>