


<div class="container">

  <form #userForm="ngForm"   (submit)="addUser(userForm.valid)" >
    <div class="row">
    <div class="col-md-2">
        <label for="fname">First Name:  </label>
    </div>

      <div class="col-md-4">
        
         <input class="form-control" type="text" required name="fname" pattern="[A-Za-z]{1,50}" [(ngModel)]="user.first_name"  />
         <span class="validation">First Name is Required</span>
      </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <label for="lname">Last Name:  </label>
        </div>
        <div class="col-md-4">
          
           <input class="form-control" type="text" name="lname" required  pattern="[A-Za-z]{1,50}" [(ngModel)]="user.last_name" />
           <span class="validation">Last Name is Required</span>
   
        </div>
      </div>



      <div class="row">
          <div class="col-md-2">
              <label for="empid">Employee ID:  </label>
          </div>
          <div class="col-md-4">
            
             <input class="form-control" type="text" name="empid"  required  pattern="[0-9]{1,7}" [(ngModel)]="user.employee_id"  />
             <span class="validation">Employee ID is Required</span>
   
          </div>
        </div>

       <br/>

        <div class="row">
            <div class="col-md-3">
           </div>
            <div class="col-md-1">
                <button  class="btn" type="submit" > {{action}}</button>
            </div>
                <div class="col-md-1">
               <button class="btn" type="button" (click)="resetUser()" >Reset </button>
        
            </div>
          </div>


        </form>

</div>
<hr/>

<div *ngIf="userList" class="container">
  

     <div>
         <input type="Search" placeholder="Search Users" [(ngModel)]="searchText" />
         Sort By:
         <input type="button" class="btn" value="First Name" (click)="sortUserBy('first_name')" />
         <input type="button" class="btn" value="Last Name" (click)="sortUserBy('last_name')" />
         <input type="button" class="btn" value="Id" (click)="sortUserBy('emp_id')" />
 
     </div>

     <div class="list-group" *ngFor="let usr of userList | userfilter:searchText | usersort : sortText">
        
        <div class="list-group-item">


                <div class="row">
                        <div class="col-md-4">

           
               {{usr.first_name}} 
           </div>
        
            <div>
            <button type="button" (click)=editUser(usr.user_id) class="btn">Edit</button>
            </div>
            </div>
       
        <div class="row">
                <div class="col-md-4">
            {{usr.last_name}}
                </div>

                <div>
               <button type="button" (click)=deleteUser(usr.user_id) class="btn">Delete</button>
                </div>
        </div>
        <div class="row">
                <div class="col-md-4">
            {{usr.emp_id}}
             </div>
        </div>

    </div>
      </div>


</div>


